//! **************************************************************************
// Written by: Map O.87xd on Wed Nov 06 13:21:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "h_sync" LOCATE = SITE "F15" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "r_out" LOCATE = SITE "R4" LEVEL 1;
COMP "temp" LOCATE = SITE "J14" LEVEL 1;
COMP "v_sync" LOCATE = SITE "F14" LEVEL 1;
COMP "g_out" LOCATE = SITE "F4" LEVEL 1;
COMP "b_out" LOCATE = SITE "P15" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

