net "CLK" loc = "C9";
net "VGA_HS_O" loc = "F15";
net "VGA_VS_O" loc = "F14";
net "VGA_R" loc = "H14";
net "VGA_G" loc = "H15";
net "VGA_B" loc = "G15";
net "VGA_R" loc = "R4";
net "VGA_G" loc = "F4";
net "VGA_B" loc = "P15";

//NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
//net "clk" loc = "H13";
