//! **************************************************************************
// Written by: Map O.87xd on Wed Nov 06 13:34:13 2019
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_HS_O" LOCATE = SITE "F15" LEVEL 1;
COMP "VGA_B" LOCATE = SITE "P15" LEVEL 1;
COMP "VGA_VS_O" LOCATE = SITE "F14" LEVEL 1;
COMP "VGA_G" LOCATE = SITE "F4" LEVEL 1;
COMP "VGA_R" LOCATE = SITE "R4" LEVEL 1;
COMP "CLK" LOCATE = SITE "C9" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

