net "clk" loc = "C9";

//NET "r_out" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
//NET "g_out" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
//NET "b_out" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
//NET "h_sync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
//NET "v_sync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;


net "h_sync" loc = "T4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "v_sync" loc = "U3" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "r_out" loc = "R8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "r_out" loc = "T8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "r_out" loc = "R9" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "g_out" loc = "P6" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "g_out" loc = "P8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "g_out" loc = "N8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "b_out" loc = "U4" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
net "b_out" loc = "U5" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

//NET "clk" CLOCK_DEDICATED_ROUTE = FALSE;
//net "clk" loc = "R17";
//net "temp" loc = "J14";